.services {
  background: $color-primary;

  .container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.service-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 48px;

  @include breakpoint('medium') {
    grid-template-columns: 100%;
  }

  svg {
    margin-bottom: 20px;
  }
}
