.companies {
  .companies-container {
    @extend %container;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.companies-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 50px;
  grid-gap: 32px;
  align-items: center;
  justify-content: center;

  &:last-child {
    margin-bottom: 0;
  }

  .company-item {
    text-align: center;
  }

  svg {
    width: 100%;
    max-width: 150px;
    color: $color-secondary;
  }

}
