%container {
  max-width: 1202px;
  margin: 0 auto;
  padding: 0 32px;

  @include breakpoint('medium') {
    padding-left: 25px;
    padding-right: 25px;
  }
}

%section-container {
  padding-top: 120px;
  padding-bottom: 120px;

  @include breakpoint ('medium') {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  @include breakpoint ('medium') {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
