

%heading {
  font-family: $font-heading;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

%display-1 {
  @extend %heading;
  @include font-size(48px, 72px)
  letter-spacing: -0.5px;
}

%h1 {
  @extend %heading;
  @include font-size(48px, 64px);
  letter-spacing: -0.5px;
}

%h2 {
  @extend %heading;
  @include font-size(32px, 48px);
}

%h3 {
  @extend %heading;
  @include font-size(20px, 24px);
}

%h4 {
  @extend %heading;
  @include font-size(20px, 28px);
}

%h5 {
  @extend %heading;
  @include font-size(18px, 20px);
}

%h6 {
  @extend %heading;
  @include font-size(24px, 32px);
}

%body {
  @include font-size(18px, 20px);
  font-family: $font-body;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 1.6;
}

%body-l {
  @extend %body;
  @include font-size(24px, 26px);
}

%body-m {
  @extend %body;
  @include font-size(20px, 24px);
}

%body-s {
  @extend %body;
  @include font-size(14px, 16px);
}
