$color-midnight: #02284B;
$color-sunny: #FECA30;
$color-white: #fff;

$color-primary: $color-sunny;
$color-secondary: $color-midnight;
$color-background: $color-midnight;

$color-text: $color-secondary;
