$color-midnight: #02284B;
$color-sunny: #FECA30;
$color-white: #fff;

$color-primary: $color-sunny;
$color-secondary: $color-midnight;
$color-background: $color-midnight;

$color-text: $color-secondary;

$breakpoints: (
  'small':  ( max-width:  767px ),
  'medium': ( max-width:  992px ),
  'large':  ( max-width: 1200px )
) !default;
