.header {
  position: absolute;
  padding: 30px 0;
  width: 100%;
  background: transparent;
  color: $color-primary;

  .container {
    @extend %container;
    display: grid;
    grid-template-columns: 1fr min-content;
    place-items: center start;
  }
}

.header-menu {
  color: $color-primary;
}
