.header {
  position: absolute;
  padding: 20px 0;
  width: 100%;
  background: transparent;
  color: $color-primary;
  z-index: 999;

  @include breakpoint('small') {
    padding: 10px 0;
  }

  .container {
    @extend %container;
    display: grid;
    grid-template-columns: 1fr min-content;
    place-items: center start;
  }
}

.header-menu {
  color: $color-primary;
}
