.testimonials {
  position: relative;
  background: $color-background;
  color: $color-primary;
  overflow: hidden;

  .container {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}

.testimonial-quote {
  @extend %body-l;
  width: 60%;

  @include breakpoint('small') {
    width: 100%;
  }
}

.testimonial-details {
  @extend %body;
}

.blockquote-svg {
  position: absolute;
  top: 50%;
  right: -8%;
  height: 120%;
  transform: translateY(-50%);

  @include breakpoint('small') {
    display: none;
  }

  .animate-svg & {
    animation-name: dash;
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
    stroke-width: 2;
    animation: dash 3s both ease-in-out;
  }
}
